{{ header }}
{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}

    <div id="content" class="{{ class }}">
        <div class="content-top">   
             {{ content_top }}
        </div>

        <div class="content-bottom">
            {{ content_bottom }}
        </div>
    {{ column_right }}
</div>
{{ footer }}

<script type="text/javascript">
$(document).ready(function(){
    $('.carousel-module').owlCarousel({
            items: 5,
            autoPlay: true,
            singleItem: false,
            navigation: true,
            navigationText: ['<i class="fa fa-chevron-left fa-5x"></i>', '<i class="fa fa-chevron-right fa-5x"></i>'],
            pagination: false,
            itemsDesktop : [1500,3],
            itemsDesktopSmall:[1199,3],
            itemsTablet :	[700,2],
            itemsTabletSmall : [479, 1],
            // itemsMobile: [379, 2]
        });
    });	

    $(document).ready(function(){
    $('#wdclient-carousel').owlCarousel({
            items: 1,
            autoPlay: true,
            singleItem: true,
            navigation: false,
            pagination: true,
            // itemsMobile: [479, 2]
        });
    }); 
</script>